<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847774021621-j17usee22u2jog0b0tinqsi403si5dlp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847774021621-j17usee22u2jog0b0tinqsi403si5dlp</string>
	<key>API_KEY</key>
	<string>AIzaSyAcqslyK5sBzuf-qr16Rehv2ufOWwdnx8s</string>
	<key>GCM_SENDER_ID</key>
	<string>847774021621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mychatapp</string>
	<key>PROJECT_ID</key>
	<string>whochatt-4867e</string>
	<key>STORAGE_BUCKET</key>
	<string>whochatt-4867e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847774021621:ios:39e4bdaabac3eac8b652bc</string>
</dict>
</plist>